<!DOCTYPE html>
<html>
<head>
  <title>SysengCitationManager</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= stylesheet_link_tag controller_name if asset_path(controller_name) %>
  <%= csrf_meta_tags %>
  <%= yield :header %>
</head>
<body>

	<p>Let's be nice</p>
	
	<%= yield %>
	
	<%= javascript_include_tag 'application' %>
	<%= yield :footer %>
	
</body>
</html>
